
body {
    background-color: #cc0044;
    color: white;
}
.container{
    width: 80vw;
    margin: 0 auto;

}

.form {
    margin: 50px 0;
    background-color: white;
    border-radius: 10px;
    color: #cc0044;
    font-size: 20px;
}

.row {
    display: flex;
}

.row.richieste{
    justify-content: space-around;
    margin: 0 30px 30px;
}

.row.buttons {
    justify-content: center;
}

button {
    margin: 0 20px 20px;
    color: #cc0044;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    padding: 2px;
}

#biglietto {
    color: black;
    background-color: white;
    padding: 10px 0;
}

#biglietto h3 {
    margin-left: 18px;
}

table {
    width: 95%;
    margin: 0 auto 20px;
    border: 1px solid grey;
    border-right: none;

}

td {
    padding: 30px;
}

td.maiuscolo {
    background-color: grey;
}

.centrato {
    text-align: center;
}

.maiuscolo {
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
    transition: 0.4s;
}
 .show {
     opacity: 1;
     transition: 0.4s;
 }
